# Supabase Configuration
# Masukkan URL dan Anon Key project Supabase Anda di sini
# Contoh URL: https://xyzcompany.supabase.co
# Contoh Key: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
